* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 7%;
}
.nav {
  display: flex;
  justify-content: space-between;
  border: 3px solid #000;
  align-items: center;
  position: relative;
}
.nav h2 {
 padding-bottom: 10px;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style-type: none;
  border-right: 3px solid #000;
}
.nav ul li a {
  text-decoration: none;
  color: #000;
}
.nav ul li a:hover {
  color: blue;
}
.nav ul li a:active {
  color: #000;
}

.section1,
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.section1 {
  margin-top: 10vh;
  /* width: 500px; */
  height: auto;
}

.section2 {
  margin-top: 3vh;
  max-width: 300px;
  height: 200px;
}

form {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 70%;
}

input {
  height: 40%;
  padding-inline-start: 10px;
}

.add-btn {
  width: 30%;
  margin-left: 177px;
  cursor: pointer;
}

.remove {
  width: 18%;
  cursor: pointer;
}

.books-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.books-wrapper,
.add-btn,
input,
.remove {
  border: 3px solid black;
  text-transform: capitalize;
}

.books-wrapper li:nth-child(odd) {
  background-color: rgb(223, 219, 219);
  color: #000;
}

h2 {
  border-top: 1.6px solid black;
  padding-top: 20px;
}

.footer {
  border: 3px solid #000;
  text-align: center;
  padding: 15px;
  margin: 20px 0;
}